<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="/admin/base::Layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Order Page</title>
</head>
<body>
	<section>
															<!-- th:object is imp for mapping -->
		<div class="card mr-3 ml-3 ">
			<div class="card-body">
				<h1 class="text-center" style="color:black">Add Order</h1>
				<div class="container-fluid mt-1">
					<div class="row">
						<div class="col-md-8 offset-md-2">
							
							<form th:action="@{/adding_orders}" method="post" th:object="${orders}" enctype="multipart/form-data" class="mt-2">
							<!-- Product id -->
							
								
								<input  type="hidden" name="id" th:field="*{id}">
							
							
							<!-- Product name -->
							<div class="form-group">
									
									 <input  type="number"  name="product_id" id="productId" placeholder="Enter Product Id here" class="form-control" required/>
							</div>
							
							<div class="form-group">
								
								<input  type="number"  name="user_id" id="productId" placeholder="Enter user Id here" class="form-control" required/>
							</div>
							
							
							<!-- Quantity -->
							<div class="form-group mt-3">
								
								<input  type="number" name="quantity" id="qty" placeholder="Enter qty " class="form-control" required/>
							</div>
							
							
							
							<!-- Price  -->
							<div class="form-group mt-3">
								
								<input type="number" name="total" id="price" placeholder="Enter qty* price =Total here" class="form-control" required/>
							</div>
							
							<div class="form-group mt-3">
								
								<input type="text" name="shippingAddress" id="shippingAddress" placeholder="Enter Address" class="form-control" required/>
							</div>
								
								<div class="form-group mt-3">
								
								<input type="text" name="shippingDate" id="shippingDate" placeholder="Enter Date" class="form-control" required/>
							</div>
								
								
								<div class="container text-center">
									<button type="submit" class="btn btn-outline-primary">Place Order</button>
								</div>
								
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</section>
</body>
</html>