<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Order Page</title>
</head>
<body>
	<section>
	
	<div id="jumbo2"class="jumbotron text-center text-white">
	<h1>ORDER HERE</h1>
	<h3>
	  Place Your Order and get products at your doorstep.
	</h3>
	</div>
	
	<div class=container>	  
   <table class="table">
	
		 <thead class="thead-light">
		 <tr>
		 		<th scope="col">Product Id</th>
		 		<th scope="col">Product Name</th>
		 		<th scope="col">Price</th>
		 		<th scope="col">Description</th>
		 		
		 		<th scope="col">Place Order</th>
		 		
		 		
		 </tr>
		 </thead>
		 <tbody>
		    <tr th:each="p : ${products}">
              <td th:text="${p.id}"></td>
              <td th:text="${p.productName}"></td>
              <td th:text="${p.price}"></td>
              <td th:text="${p.description}"></td>
            
           	  
              <td ><a th:href="@{/addOrders}" href="#" class="btn btn-success">Order</a></td>
              
            </tr>
       
		  </tbody>
	   </table>
	   </div>
<!-- Table End Here-->
		
	</section>
</body>
</html>