<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Home Page</title>
</head>
<body>
	<section>
	
	
<div id="product"class="container">
  <h1>Our Products</h1>
  <a th:href="@{/orderPage}" href="#" class="btn btn-success">Buy Products</a>
	<div id="row1" class="row">
     <div class="col-xs-6 col-md-6">
 
                <!-- First product box start here-->
                <div class="prod-info-main prod-wrap clearfix">
 
                      <div class="row">
 
                           <div class="col-md-5 col-sm-12 col-xs-12">
 
                            <div class="product-image">
 
                             <img th:src="@{images/bottle1l.jpg}" width="160" height="150">

                       </div>
 
                  </div>
 
                <div class="col-md-5 col-sm-12 col-xs-12">
 
                  <div class="product-deatil">
 
                               <h5 class="name">
 
                              1 Ltr Bottle                       
 
                               </h5>
 
                            <h6 class="price-container">
 
                             <span>Rs.20</span>
 
                           </h6>
                   </div>
 
				   <div class="description">
				 
				      <p>1 Liter filtered water Bottle </p>
				 
				   </div>
 
			      <div class="product-info smart-form">
			 
			         <div class="row">
			 
			            <div class="col-md-12">
			 
			              <a th:href="@{/orderPage}" class="btn btn-danger">Buy Product</a>
			 
			             </div>
			 			</div>
			      
 					</div>
				    
				 
				  </div>
				 
				  </div>
				 </div>
			 
			</div>
			 <!-- end product -->
			
			<div class="col-xs-6 col-md-6">
 
                <!-- First product box start here-->
                <div class="prod-info-main prod-wrap clearfix">
 
                      <div class="row">
 
                           <div class="col-md-5 col-sm-12 col-xs-12">
 
                            <div class="product-image">
 
                             <img th:src="@{images/jar10l.jpg}" width="160" height="150">

                       </div>
 
                  </div>
 
                <div class="col-md-5 col-sm-12 col-xs-12">
 
                  <div class="product-deatil">
 
                               <h5 class="name">
 
                              10 Ltr Jar                      
 
                               </h5>
 
                            <h6 class="price-container">
 
                             <span>Rs.45</span>
 
                           </h6>
                   </div>
 
				   <div class="description">
				 
				      <p>10 Liter filtered water Jar </p>
				 
				   </div>
 
			      <div class="product-info smart-form">
			 
			         <div class="row">
			 
			            <div class="col-md-12">
			 
			              <a th:href="@{/orderPage}" class="btn btn-danger">Buy Product</a>
			 
			             </div>
			 			</div>
			      
 					</div>
				    
				 
				  </div>
				 
				  </div>
				 </div>
			 
			</div>
			 <!-- end product -->
			</div>
			 
			 
			<!--  ------2nd row--------------------- -->
	<div id="row2" class="row">
     <div class="col-xs-6 col-md-6">
 
                <!-- First product box start here-->
                <div class="prod-info-main prod-wrap clearfix">
 
                      <div class="row">
 
                           <div class="col-md-5 col-sm-12 col-xs-12">
 
                            <div class="product-image">
 
                             <img th:src="@{images/bottle5l.jpg}" width="160" height="150">

                       </div>
 
                  </div>
 
                <div class="col-md-5 col-sm-12 col-xs-12">
 
                  <div class="product-deatil">
 
                               <h5 class="name">
 
                              5 Ltr Bottle                       
 
                               </h5>
 
                            <h6 class="price-container">
 
                             <span>Rs.30</span>
 
                           </h6>
                   </div>
 
				   <div class="description">
				 
				      <p>5 Liter filtered water Bottle </p>
				 
				   </div>
 
			      <div class="product-info smart-form">
			 
			         <div class="row">
			 
			            <div class="col-md-12">
			 
			              <a th:href="@{/orderPage}" class="btn btn-danger">Buy Product</a>
			 
			             </div>
			 			</div>
			      
 					</div>
				    
				 
				  </div>
				 
				  </div>
				 </div>
			 
			</div>
			 <!-- end product -->
			
			<div class="col-xs-6 col-md-6">
 
                <!-- First product box start here-->
                <div class="prod-info-main prod-wrap clearfix">
 
                      <div class="row">
 
                           <div class="col-md-5 col-sm-12 col-xs-12">
 
                            <div class="product-image">
 
                             <img th:src="@{/images/bottle20l.jpg}" width="160" height="150">

                       </div>
 
                  </div>
 
                <div class="col-md-5 col-sm-12 col-xs-12">
 
                  <div class="product-deatil">
 
                               <h5 class="name">
 
                              20 Ltr Bottle                      
 
                               </h5>
 
                            <h6 class="price-container">
 
                             <span>Rs.50</span>
 
                           </h6>
                   </div>
 
				   <div class="description">
				 
				      <p>20 Liter filtered water Bottle </p>
				 
				   </div>
 
			      <div class="product-info smart-form">
			 
			         <div class="row">
			 
			            <div class="col-md-12">
			 
			              <a th:href="@{/orderPage}" class="btn btn-danger">Buy Product</a>
			 
			             </div>
			 			</div>
			      
 					</div>
				    
				 
				  </div>
				 
				  </div>
				 </div>
			 
			</div>
			 <!-- end product -->
			</div>
			
	      	<!--  ------3rdd row--------------------- -->
	<div id="row2" class="row">
     <div class="col-xs-6 col-md-6">
 
                <!-- First product box start here-->
                <div class="prod-info-main prod-wrap clearfix">
 
                      <div class="row">
 
                           <div class="col-md-5 col-sm-12 col-xs-12">
 
                            <div class="product-image">
 
                             <img th:src="@{images/bottle10l.jpg}" width="160" height="150">

                       </div>
 
                  </div>
 
                <div class="col-md-5 col-sm-12 col-xs-12">
 
                  <div class="product-deatil">
 
                               <h5 class="name">
 
                              10 Ltr Bottle                       
 
                               </h5>
 
                            <h6 class="price-container">
 
                             <span>Rs.40</span>
 
                           </h6>
                   </div>
 
				   <div class="description">
				 
				      <p>10 Liter filtered water Bottle </p>
				 
				   </div>
 
			      <div class="product-info smart-form">
			 
			         <div class="row">
			 
			            <div class="col-md-12">
			 
			             <a th:href="@{/orderPage}" class="btn btn-danger">Buy Product</a>
			 
			             </div>
			 			</div>
			      
 					</div>
				    
				 
				  </div>
				 
				  </div>
				 </div>
			 
			</div>
			 <!-- end product -->
			
			<div class="col-xs-6 col-md-6">
 
                <!-- First product box start here-->
                <div class="prod-info-main prod-wrap clearfix">
 
                      <div class="row">
 
                           <div class="col-md-5 col-sm-12 col-xs-12">
 
                            <div class="product-image">
 
                             <img th:src="@{images/jar20l.jpg}" width="160" height="150">

                       </div>
 
                  </div>
 
                <div class="col-md-5 col-sm-12 col-xs-12">
 
                  <div class="product-deatil">
 
                               <h5 class="name">
 
                              20 Ltr Jar                      
 
                               </h5>
 
                            <h6 class="price-container">
 
                             <span>Rs.60</span>
 
                           </h6>
                   </div>
 
				   <div class="description">
				 
				      <p>20 Liter filtered water Jar </p>
				 
				   </div>
 
			      <div class="product-info smart-form">
			 
			         <div class="row">
			 
			            <div class="col-md-12">
			 
			              <a th:href="@{/orderPage}" class="btn btn-danger">Buy Product</a>
			 
			             </div>
			 			</div>
			      
 					</div>
				    
				 
				  </div>
				 
				  </div>
				 </div>
			 
			</div>
			 <!-- end product -->
			</div>
			
	      
 </div>
 
	</section>
</body>
</html>